/*body{
display: flex;
width: 1200px;
flex-wrap: wrap;
margin-left: 90px;
}
.first{
  display: flex;

}

.products{
  display: flex;


}
.card-block{
  width: 300px;
  height: 400px;
  background-color: #00ffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
}

.card-block__picture{
  background-image: url(https://etk-shop.com.ua/userfiles/image/catalog/photoimg_1140472547.png);
  width: 150px;
  height: 150px;
  margin-top: 30px;
  margin-left: 70px;
  background-color: #AC3F39;
  border-radius: 10px;
  
}

.card-block__text{
  margin: 10px;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.card-block__texr_write{
  color: #fff;
}
.card-block__texr_red{
  color: red;
}
.card-block__texr_orange{
  color: orange;
}

.card-block__box{
  color: #AC3F39;
}

card-block_isResponsive

.parent{
  display: grid;
  grid-template-columns:50px, 100px 70px;
  grid-auto-rows: minmax(30px,150px);
  /*grid-template-rows: 150px 50px;
}

.child{
  grid-column-start: 4;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 2;
}


.grid{
  display: grid;
  grid-template-columns: 50px 100px 30px;
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-areas: 
  "a a a"
  "c b b"
  "c b b";
  grid-column-gap: 15px;
  grid-row-gap: 15px;x
  
}

.child1{
background-color: #fff000;
grid-area: a;
}
.child2{
  background-color: #000fff;
  grid-area: b;
}
.child3{
  background-color: #ee00ff;
  grid-area: c;
}*/


.box{
  display: grid;
  grid-template-columns:50px 50px 50px 50px;
  grid-template-rows: 20px 20px;
  grid-template-areas: 
  "a a b b"
  "c c e e";
}

.boxes{
border: 1px solid #000;
}

.second-box{
  grid-area: a;
}

.six-box{
  grid-area: e;
}

.sec-box{
  margin-top: 100px;
  display: grid;
  grid-template-columns:200px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-template-areas: 
  "a b c d"
  "a f g g"
  "j h h h"
  "j k h h";

}
.fi-box{
  grid-area: a;
}

.fo-box{
  grid-area: h;
}